{% extends '/views/layouts/main.twig' %}

{% block title %}Расписание группы #{{ group.number }}{% endblock %}

{% set week_days = {1: 'Понедельник', 2: 'Вторник', 3: 'Среда', 4: 'Четверг', 5: 'Пятница', 6: 'Суббота'} %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Расписание группы #{{ group.number }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include '/views/particle/notice.twig' %}
            </div>
        </div>
        {% for week_number in 1..2 %}
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ week_number }} неделя</h2>
                </div>
            </div>
            <div class="row">
                {% for key,week_day in week_days %}
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-9">
                                {{ week_day }}
                            </div>
                            <div class="col-md-3">
                                <a href="{{ this.createUrl('createScheduleElement', {week_number: week_number, week_day: key, id: group.number}) }}"
                                   class="btn btn-default btn-xs"><span
                                            class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if schedule[week_number][key] %}
                                    <small>
                                        {% for lesson in schedule[week_number][key] %}
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-9">
                                                    <b>{{ lesson.number }})</b>
                                                    {{ lesson.subject.name }}{% if lesson.teacher %}, {{ lesson.teacher.lastname }} {{ lesson.teacher.firstname|slice(0, 1) }}.{{ lesson.teacher.middlename|slice(0, 1) }}.{% endif %}
                                                    {% if lesson.classroom %}({{ lesson.classroom.name }}){% endif %}
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="{{ this.createUrl('updateScheduleElement', {element_id: lesson.id, id: group.number}) }}"
                                                       class="btn btn-default btn-xs"><span
                                                                class="glyphicon glyphicon-pencil"></span></a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </small>
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}