{% extends '/views/layouts/main.twig' %}

{% block title %}Расписание группы #{{ group.number }}{% endblock %}

{% set week_days = {1: 'Понедельник', 2: 'Вторник', 3: 'Среда', 4: 'Четверг', 5: 'Пятница', 6: 'Суббота'} %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Расписание группы #{{ group.number }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include '/views/particle/notice.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>1 неделя</h2>
            </div>
        </div>
        <div class="row">
            {% for key,week_day in week_days %}
                <div class="col-md-2">
                    {{ week_day }}
                    <a href="{{ this.createUrl('createScheduleElement', {week_number: 1, week_day: key, id: group.number}) }}"
                       class="btn btn-default btn-xs pull-right"><span
                                class="glyphicon glyphicon-plus"></span></a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for lessons in schedule[1] %}
                <div class="col-md-2">
                    <small>
                        {% if lessons|length %}
                            {% for lesson in lessons %}
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-10">
                                        <b>{{ lesson.number }})</b>
                                        {{ lesson.subject.name }}{% if lesson.teacher %}, {{ lesson.teacher.lastname }} {{ lesson.teacher.firstname|slice(0, 1) }}.{{ lesson.teacher.middlename|slice(0, 1) }}.{% endif %}
                                        {% if lesson.classroom %}({{ lesson.classroom.name }}){% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{{ this.createUrl('updateScheduleElement', {element_id: lesson.id, id: group.number}) }}"
                                           class="btn btn-default btn-xs pull-right"><span
                                                    class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </small>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>2 неделя</h2>
            </div>
        </div>
        <div class="row">
            {% for key,week_day in week_days %}
                <div class="col-md-2">
                    {{ week_day }}
                    <a href="{{ this.createUrl('createScheduleElement', {week_number: 2, week_day: key, id: group.number}) }}"
                       class="btn btn-default btn-xs pull-right"><span
                                class="glyphicon glyphicon-plus"></span></a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for lessons in schedule[2] %}
                <div class="col-md-2">
                    <small>
                        {% if lessons|length %}
                            {% for lesson in lessons %}
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-10">
                                        <b>{{ lesson.number }})</b>
                                        {{ lesson.subject.name }}{% if lesson.teacher %}, {{ lesson.teacher.lastname }} {{ lesson.teacher.firstname|slice(0, 1) }}.{{ lesson.teacher.middlename|slice(0, 1) }}.{% endif %}
                                        {% if lesson.classroom %}({{ lesson.classroom.name }}){% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{{ this.createUrl('updateScheduleElement', {element_id: lesson.id, id: group.number}) }}"
                                           class="btn btn-default btn-xs pull-right"><span
                                                    class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </small>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}