{% extends '/views/layouts/main.twig' %}
{% block title %}Расписание {% if group %}группы №{{ group }}{% endif %}{% endblock %}

{% set week_days = {1: 'Понедельник', 2: 'Вторник', 3: 'Среда', 4: 'Четверг', 5: 'Пятница', 6: 'Суббота', 7: 'Воскресенье'} %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Расписание {% if group %}группы №{{ group }}{% endif %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% if not group %}
                    <p>
                        Заполните форму ниже, чтобы получить расписание
                    </p>
                {% endif %}
                {{ C.Html.beginForm(['index'], 'get') }}
                <div class="form-group">
                    {{ C.Html.label('Группа', 'group') }}
                    {{ C.Html.dropDownList('group', group, group_list, {'class': 'form-control' }) }}
                </div>
                {{ C.Html.submitButton('Показать', {class: 'btn btn-success'}) }}
                {{ C.Html.endForm() }}
            </div>
        </div>
        {% if group and schedule|length %}
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Расписание на ближайшее время</div>
                        <div class="panel-body">
                            <div class="alert alert-info">Строки помеченные зеленым - <b>замены</b></div>
                        </div>
                        <table class="table table-bordered table-hover">
                            {% for date,elements in schedule %}
                                <tr>
                                    <th colspan="2">{{ date }}, {{ week_days[date|date('N')] }}</th>
                                </tr>
                                {% if elements['holiday'] and elements['holiday'] %}
                                    <tr>
                                        <th colspan="2">
                                            Выходной {% if elements['name'] %}- {{ elements['name'] }}{% endif %}
                                        </th>
                                    </tr>
                                {% else %}
                                    {% for i in 1..5 %}
                                        <tr {% if elements[i]|length and elements[i]['replace'] %}class="success"{% endif %}>
                                            <th style="width: 20px;">{{ i }}</th>
                                            {% if elements[i] == 0 or elements[i]['cancel'] %}
                                                <td colspan="3">Нет</td>
                                            {% else %}
                                                <td>
                                                    {{ elements[i]['subject'] }} <br/>
                                                    {% if elements[i]['teacher'] or elements[i]['classroom'] %}
                                                        <small>
                                                            {% if elements[i]['teacher'] %}{{ elements[i]['teacher'] }}{% endif %}
                                                            {% if elements[i]['classroom'] %}{{ elements[i]['classroom'] }}{% endif %}
                                                        </small>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}