{% extends '/views/layouts/main.twig' %}

{% block title %}Списки звонков{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if logs|length %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            {% set labels = model.attributeLabels() %}
                            {% for attribute,value in model.attributes %}
                                <th>{{ labels[attribute] }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                {% for attribute in log.attributes %}
                                    <td>{{ attribute }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        {% for i in 1..pages %}
                            <li {% if page == i %}class='disabled'{% endif %}><a
                                        href="{{ this.createUrl('index', {page: i}) }}">{{ i }}</a></li>
                        {% endfor %}
                        {#{% if page != pages %}
                            {% for i in page+1..(page+3 < pages ? page+3 : pages) %}
                                <li><a href="{{ this.createUrl('index', {page: i}) }}">{{ i }}</a></li>
                            {% endfor %}
                        {% endif %}#}
                    </ul>
                {% else %}
                    <div class="alert alert-warning">Нет логов...</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}