{% extends '/views/layouts/main.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% set form = this.beginWidget('CActiveForm',
                {
                'action': ['changePassword'],
                'errorMessageCssClass': 'alert alert-danger'
                }) %}
                <div class="form-group text-center">
                    <h1>Смена пароля</h1>
                </div>
                {% include '/views/particle/notice.twig' %}
                <div class="form-group">
                    {{ form.label(model, 'old_password') }}
                    {{ form.textField(model, 'old_password', {'class': 'form-control', 'placeholder': model.attributeLabels().old_password }) }}
                </div>
                {{ form.error(model, 'old_password') }}
                <div class="form-group">
                    {{ form.label(model, 'new_password') }}
                    {{ form.passwordField(model, 'new_password', {'class': 'form-control', 'placeholder': model.attributeLabels().new_password }) }}
                </div>
                {{ form.error(model, 'new_password') }}
                <div class="form-group">
                    {{ form.label(model, 'repeat_password') }}
                    {{ form.passwordField(model, 'repeat_password', {'class': 'form-control', 'placeholder': model.attributeLabels().repeat_password }) }}
                </div>
                {{ form.error(model, 'repeat_password') }}
                <div class="form-group text-center">
                    {{ C.Html.submitButton('Сохранить', {'class': 'btn btn-success'}) }}
                </div>
                {{ void(this.endWidget()) }}
            </div>
        </div>
    </div>
{% endblock %}