{% extends '/views/layouts/main.twig' %}
{% set title = 'Регистрация по приглашению' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% include '/views/particle/notice.twig' %}
                {% set form = this.beginWidget('CActiveForm',
                {
                'errorMessageCssClass': 'alert alert-danger'
                }) %}
                <div class="form-group text-center">
                    <h1>{{ title }}</h1>
                </div>
                <div class="form-group">
                    {{ form.label(model, 'username') }}
                    {{ form.textField(model, 'username', {'class': 'form-control', 'placeholder': model.attributeLabels().username }) }}
                </div>
                {{ form.error(model, 'username') }}
                <div class="form-group">
                    {{ form.label(model, 'password') }}
                    {{ form.passwordField(model, 'password', {'class': 'form-control', 'placeholder': model.attributeLabels().password }) }}
                </div>
                {{ form.error(model, 'password') }}
                <div class="form-group text-center">
                    {{ C.Html.submitButton('Зарегистрироваться', {'class': 'btn btn-success'}) }}
                </div>
                {{ void(this.endWidget()) }}
            </div>
        </div>
    </div>
{% endblock %}