{% extends '/views/layouts/main.twig' %}

{% block title %}Настройка автопостинга в ВК группы #{{ group.number }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include '/views/particle/notice.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Настройка автопостинга в ВК</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">Отображенны группы, в которых Вы как минимум являетесь модератором</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ C.Html.beginForm({0: 'autopost', id: group.number}, 'get') }}
                {{ C.Html.hiddenField('step', 2) }}
                Теперь нужно выбрать группу и час, когда делать публикацию расписания: <br/>

                <div class="form-group">
                    {{ C.Html.label('Группа', 'page_id') }}
                    {{ C.Html.dropDownList('page_id', '', groups, {class: 'js-select2 form-control'}) }}
                </div>
                <div class="form-group">
                    {{ C.Html.label('Публиковать в', 'hour') }}
                    {{ C.Html.dropDownList('hour', '', hours, {class: 'form-control'}) }}
                </div>
                {{ C.Html.submitButton('Далее', {class: 'btn btn-success'}) }}
                {{ C.Html.endForm() }}
            </div>
        </div>
    </div>
{% endblock %}