{% extends '/views/layouts/main.twig' %}
{% if model.isNewRecord %}
    {% set title = 'Добавление замены' %}
{% else %}
    {% set title = 'Редактирование замены' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {% include '/views/particle/notice.twig' %}
                {% set form = this.beginWidget('CActiveForm',
                {
                'errorMessageCssClass': 'alert alert-danger'
                }) %}
                <div class="form-group text-center">
                    <h1>{{ title }}</h1>
                </div>
                {% include '/views/particle/notice.twig' %}
                <div class="form-group">
                    {{ form.label(model, 'date') }}
                    {{ form.dateField(model, 'date', {'class': 'form-control', 'placeholder': model.attributeLabels().date, 'min': semester.start_date, 'max': semester.end_date }) }}
                </div>
                {{ form.error(model, 'date') }}
                <div class="form-group">
                    {{ form.label(model, 'number') }}
                    {{ form.dropDownList(model, 'number', numbers, {'class': 'form-control', 'placeholder': model.attributeLabels().number }) }}
                </div>
                {{ form.error(model, 'number') }}
                <div class="form-group">
                    {{ form.label(model, 'cancel') }}
                    {{ form.checkBox(model, 'cancel', {'placeholder': model.attributeLabels().cancel }) }}
                </div>
                {{ form.error(model, 'cancel') }}
                <div class="form-group">
                    {{ form.label(model, 'subject_id') }}
                    {{ form.dropDownList(model, 'subject_id', subjects, {'class': 'form-control', 'placeholder': model.attributeLabels().subject_id }) }}
                </div>
                {{ form.error(model, 'subject_id') }}
                <div class="form-group">
                    {{ form.label(model, 'teacher_id') }}
                    {{ form.dropDownList(model, 'teacher_id', teachers, {'class': 'form-control', 'placeholder': model.attributeLabels().teacher_id }) }}
                </div>
                {{ form.error(model, 'teacher_id') }}
                <div class="form-group">
                    {{ form.label(model, 'classroom_id') }}
                    {{ form.dropDownList(model, 'classroom_id', classrooms, {'class': 'form-control', 'placeholder': model.attributeLabels().classroom_id }) }}
                </div>
                {{ form.error(model, 'classroom_id') }}
                <div class="form-group">
                    {{ form.label(model, 'comment') }}
                    {{ form.textField(model, 'comment', {'class': 'form-control', 'placeholder': model.attributeLabels().comment }) }}
                </div>
                {{ form.error(model, 'comment') }}
                <div class="form-group text-center">
                    {{ C.Html.submitButton(model.isNewRecord ? 'Создать' : 'Сохранить', {'class': 'btn btn-success'}) }}
                </div>
                {{ void(this.endWidget()) }}
            </div>
        </div>
    </div>
{% endblock %}