{% extends '/views/layouts/main.twig' %}

{% block title %}Отмена приглашения{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-danger">Вы уверены что хотите отменить приглашения для <b>{{ model.email }}</b>?
                </div>
                {{ C.Html.beginForm('', 'get') }}
                {{ C.Html.hiddenField('confirm', 1) }}
                {{ C.Html.hiddenField('id', model.id) }}
                {{ C.Html.submitButton('Удалить', {class: 'btn btn-danger'}) }}
                {{ C.Html.endForm() }}
            </div>
        </div>
    </div>
{% endblock %}